<div class="card" id="container">
<div class="col-8 p-4 " id="form">
<%= render "formedit", flat: @flat %>
<ul class="list-unstyled">
<li>--------------</li>
<li><%= link_to "Back to flat", flat_path, class:"btn btn-primary " %></li>
<li>--------------</li>
<li><%= link_to "Back to list", flats_path, class:"btn btn-dark" %></li>
<li>--------------</li>
</ul>
</div>
</div>
